<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="CLUSTER" class="cz.cuni.mff.d3s.been.logging.BeenAppender">
		<!-- encoder no applicable -->
	</appender>


	<!-- Too much logging on DEBUG, set it to WARN -->
	<logger name="org.apache.http" level="WARN"/>

	<!-- Task Manager -->
	<logger name="cz.cuni.mff.d3s.been.manager" level="INFO"/>

	<!-- Task logs on a Host Runtime -->
	<logger name="cz.cuni.mff.d3s.been.hostruntime.tasklogs.TaskLogHandler" level="INFO"/>


	<root level="DEBUG">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="CLUSTER"/>
	</root>

</configuration>
