<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/demo-srclient/src/main/java/cz/cuni/mff/d3s/been/demo/SRClientTestApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cz.cuni.mff.d3s.been.demo.SRClientTestApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s /home/donarus/develop/projects/swp/everBeen/task-test/target/task-test-3.0.0.bpk&#10;-g cz.cuni.mff.d3s.been&#10;-b task-test&#10;-v 3.0.0&#10;-h darklight.cz&#10;-p 8000"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="demo-srclient"/>
</launchConfiguration>
