<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/taskmanager/src/main/java/cz/cuni/mff/been/taskmanager/TaskManagerRunner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="BEEN_HOME" value="/home/develop/swp/ow2-been"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cz.cuni.mff.been.taskmanager.TaskManagerRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${workspace_loc:host_runtime}/../data/taskmanager"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="taskmanager"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.manager&#10;-Djava.security.policy=${workspace_loc:host_runtime}/../security/ffa.policy&#10;-Djava.rmi.server.codebase=file:${workspace_loc:host_runtime}/../taskmanager/target/taskmanager.one-jar.jar"/>
</launchConfiguration>
